body{
  background-color: silver;
}

body *{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 40px;
}
.splash{
  background-image: url(../img/splash.png); 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.splash h1{
  font-size: 100px;
  padding-bottom: 5px;
}

.splash a{
  font-size: 24px;
}

.list{
  font-size: 18px;
  display:flex;
  align-items: flex-start;
}

button{
  margin-top: 10px;
}
