@{
  Layout = "_Layout";
}
<h1>Vendors:Show</h1>

@* <ol>
  @foreach (order order in @Model["orders"])
  {
    <li><a href='/categories/@Model["category"].Id/orders/@order.Id'>@order.Description</a></li>
  }
</ol>

<p><a href='/categories/@Model["category"].Id/orders/new'>Add a new order</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p> *@